/*styling to navbar*/
.navbarOnly {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: normal;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*styling to universal paragraf*/
p {
    font-size: 18px;
    padding: 15px;
}

/*Styling to image is focuses to one image on page home*/
.img1 {
    flex-grow: 1;
    width: 600px;
    height: 280px;
    overflow-y: scroll;
    background-image: url("/assets/CloudImage.jpg");
    -webkit-mask-image: linear-gradient(rgb(0 0 0/ 90%));
    mask-image: radial-gradient(rgb(0 0  0 / 100%) );
    mask-size: cover;
    box-shadow: 20%;
    font: bold;
    color: black;
}




/*hide checkbox*/
.checkbox {
    display: none;
}

/*styling design to button night mode and light mode*/
.checkbox-label {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    box-shadow: 10px 10px 15px black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    flex: 1;
    z-index: 1000; /* lebih tinggi dari chatbot */
}

/* Styling ikon */
.floating {
    position: absolute;
    font-size: 30px;
    transition: opacity 0.3s ease-in-out;
}

/*add opacity to icon night mode*/
.moon {
    opacity: 1;

}

/*add opactity to icon light mode*/
.sun {
    opacity: 0;
}

/*logic once button moon if checked*/
.checkbox:checked+.checkbox-label .moon {
    opacity: 0;
}

/*logic once button sun if checked*/
.checkbox:checked+.checkbox-label .sun {
    opacity: 1;

}

.navbar-toggler:focus,
.navbar-toggler-icon:focus{
    box-shadow: none;
    outline: none;
}